
Roles:  Manager, Finance

Order form fields: 

    Order Type: 
        One Time Payment
        Subscription
        Splitted
    
    Total Cost

    Monthly Amount

    Order Status
    Draft - editing only
    Final - Final stage before submit
    Aprooved
    Paid
    Delivered
    
    Customer
        Amazon (US)
        CodeValue (IL)
        SpaceX (Mars)

    Tax

    Payment Method
        Card,
        Cash,
        Paypal

    Text summary

Order form visibility requirements; 

    * ID will be visible only for status Paid and Delivered

    * Product 
      - is visible on all statuses

    * OrderType is visible when: 
      - All statuses only for Manager in all statuses except delivered

    * Order status control is visible when: 
      - All statuses, All types

    * Customer is visible when: 
      - statuses : Draft, Final, Aprooved

    * Total Cost is visible when: 
        statuses : Draft, Final, Aprooved
        AND when type is Splitted
    
    * Monthly is visible when: 
        statuses : Draft, Final, Aprooved
        AND when type is Splitted OR Subscription

    * Tax is a text field and visible only for customers which has Tax Info
        when status is Paid or Delivered 

    * Payment method is vidible only for Aprooved state
    
